body {
    background-color: #b9ffba;
}

#app .header {
    background: white url('../images/header.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    max-height: 350px;
}

.carousel .carousel-item {
    height: 350px;
}
